{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}">Выйти</a>
    {% else %}
        <a href="{{ path('app_login') }}">Войти</a>
        <a href="{{ path('app_register') }}">Регистрация</a>
    {% endif %}
<h2>Hello to  MainPage</h2>
{% endblock %}
